$primary-color: #38579b;
$text-color: #4a4a4a;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
.clearfix:after {
	clear: both;
	display: block;
	content: " ";
	height: 0px;
	visibility: hidden;
}
.clearfix {
	display: inline-block;
}
.fl{
  float: left;
}
.fr{
  float: right;
}

.toast-message{
  color: #fff;
  padding: 15px 17px 15px 15px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  box-shadow: -3px 1px 4px 0 rgba(0, 0, 0, 0.5);
  @include border-radius(6px);
  width: 360px;
  min-height: 92px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
}
.description{
  width: 285px;
  margin-left: 10px;
}
.toast-message.success{
  background-color:  #27ae60;
}
.description-message{
  margin-bottom: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
.toast-message.success .check-icon polyline{
  stroke: #27ae60;
}
.toast-message.warning{
  background-color: #e67e22;
}
.toast-message.warning .check-icon polyline{
  stroke: #e67e22;
}
.close-toast{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.hide-toast{
  display: none;
}
.summery{
  float: right;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1.67;
  letter-spacing: normal;
  margin-top: 10px;
}
